<p-card class="w-full h-full">
    <ng-template #header>
        <div class="relative">
            <div class="project-type-box absolute top-0 right-0 p-1 bg-primary">
                <span class="font-bold">{{ project.project_type?.name }}</span>
            </div>
            <img [alt]="project.title" [src]="project.thumbnail_url" class="w-full project-image" loading="lazy" />
        </div>
    </ng-template>
    <ng-template #title>
        {{ project.title }}
    </ng-template>
    <div class="flex flex-column gap-2 mb-1">
        <p class="my-0 text-color-secondary line-clamp-2">
            {{ project.short_description }}
        </p>
        <div class="flex flex-row flex-wrap gap-1">
            @for (technology of project.technologies; track $index) {
                @if ($index < maxTags) {
                    <p-tag [value]="technology.name" classList="text-sm" />
                } @else if ($index == maxTags) {
                    <p-tag [value]="moreTagsText()" classList="text-sm" />
                }
            }
        </div>
    </div>
    <ng-template #footer>
        <div class="flex flex-row align-items-end justify-content-between gap-1 h-full">
            <div>
                <a [href]="project.github_url" target="_blank" rel="noopener noreferrer">
                    <p-button icon="pi pi-github" [rounded]="true" [text]="true" severity="secondary" />
                </a>
                <a [href]="project.url" target="_blank" rel="noopener noreferrer">
                    <p-button icon="pi pi-external-link" [rounded]="true" [text]="true" severity="secondary" />
                </a>
            </div>
            <p-button label="Detalhes" (onClick)="openDetailsDialog(project)" />
        </div>
    </ng-template>
</p-card>
