.avatar-box {
    border-radius: 20px;
    background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
}

.card {
    top: 4rem;
}

@media screen and (min-width: 576px) {
    .avatar-box {
        border-radius: 30px;
    }
}

.more-info {
    display: none;
}

.more-info.active {
    display: block;
}

.p-button {
    border-radius: 20px 20px 0 0 !important;
}