@if (this.items) {
    <ul class="list list-none m-0 ml-3 flex gap-4 flex-column fadein animation-duration-400">
        @for (item of items; track $index) {
            <li class="item relative">
                <span class="block font-bold line-height-2 mb-2">{{ item.title }}</span>
                @if (item.subtitle) {
                    <span class="block text-primary">{{ item.subtitle }}</span>
                }
                @if (item.description) {
                    <p class="text-500 m-0 font-light line-height-3">
                        {{ item.description }}
                    </p>
                }
            </li>
        }
    </ul>
} @else {
    <div class="flex flex-row ml-4 gap-3 w-full">
        <p-skeleton width="12px" styleClass="h-full" />
        <div class="flex flex-column gap-4 md:w-10 sm:w-11 w-10">
            @for (_ of [].constructor(skeletonCount); track $index) {
                <p-skeleton height="73px" styleClass="w-full" />
            }
        </div>
    </div>
}