:root {
    --golden-50: #fffdf7;
    --golden-100: #fff3db;
    --golden-200: #feeabe;
    --golden-300: #fee1a1;
    --golden-400: #fdd785;
    --golden-500: #fdce68;
    --golden-600: #d7af58;
    --golden-700: #b19049;
    --golden-800: #8b7139;
    --golden-900: #65522a;
    --golden-950: #3f341a;
    --p-neutral-850: #1a1a1a;
    --smoky-black: hsl(0, 0%, 7%);
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --jet: hsl(0, 0%, 22%);
    --card-border: 1px solid var(--jet);
}